.signin{
    background-color: white;
    margin: 8vh 30vw;
    padding: 1px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px 6px rgba(0,0,0,0.64);
    -webkit-box-shadow: 0px 6px 10px 6px rgba(0,0,0,0.64);
    -moz-box-shadow: 0px 6px 10px 6px rgba(0,0,0,0.64);
}

.signin h1{
    text-align: center;
    border-bottom: 2px solid rgb(0, 162, 255);
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-size: 2rem;
}

.inp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px 25px 12px;
    font-size: 1.5rem;
}

.inp input{
    border-radius: 10px;
    border: 1px solid black;
    padding: 8px;
    font-size: 1.2rem;
    max-width: 50%;

}

.verify-otp button, .send-otp button{
    text-align: center;
    background-color: rgb(32, 163, 245);
    color: white;
    font-weight: 600;
    padding: 8px;
    border-radius: 10px;
    width: 40%;
    font-size: 1.2rem;
}

.verify-otp button:hover, .send-otp button:hover{
    background: linear-gradient(to top, #2469aa, #284b61);
}

.send-otp {
    margin-bottom: 40px;
}

.verify-otp, .send-otp{
    display: flex;
    justify-content: center;
    padding: 8px;
}