.requests{
    background-color: white;
    margin: 1vh 5vw;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
    
}

.details{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

.requests h1{
    text-align: center;
    font-size: 2.5rem ;
    padding-bottom: 8px;
    border-bottom:  2px solid rgb(112, 109, 109);
}

.req{
    font-size: 1.5rem;
    margin: 40px;
    font-weight: 800;
}

.raiseNewReq button{
    background-color: rgb(32, 163, 245);
    color: white;
    font-weight: 600;
    padding: 8px;
    font-size: 2rem;
    border-radius: 10px;
}

.raiseNewReq {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}
